export(aggregation_index)
export(altitudinal_profile)
export(denseness_column)
export(denseness_row)
export(denseness_total)
export(heigh_maximum)
export(heigh_propotion)
export(heigh_propotion_test)
export(hole_columm)
export(hole_row)
export(hole_section)
export(hole_section_data)
export(image_information)
export(light_gap)
export(threshold_color)
export(threshold_image_list)
export(topline)


importFrom(utils, txtProgressBar, setTxtProgressBar)
importFrom(stats, sd)
importFrom(jpeg, readJPEG)
importFrom(png, readPNG)




